.checkout_add{
width:1200px;
height: 300px;
z-index: -1;
margin-bottom: -1px;
mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));

}
.checkout{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: black;
    height: max-content;
}
.checkout_title{
    margin-left: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(153, 153, 153);
}
