.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    position: fixed;
    

}
.header_search{
    display: flex;
    flex:1;
    align-items: center;
    border-radius: 24px;
}
.header_searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;  
    color: white;
    background-color: rgb(41, 39, 39);  
}
.header_logo{
    height: 40px;
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    background-color: transparent;
    margin-bottom: 15px;
}
.header_searchIcon{
    padding: 5px;
    height: 22px;
    background-color: black;
}
.header_options{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color:white ;
}
.header_nav{
display: flex;
justify-content: space-evenly;
}
.header_optionLineOne{
    font-size: 10px; 
}
.header_optionLineTwo{
    font-size: 13px;
    font-weight: 800; 
}
.header_optionBasket{
    color: white;
    display: flex;
    align-items: center;
}